.flexCol--footer-wrapper{
    background-color: #000000;
    padding:2.3rem 2rem 0 2rem;
}
.flexRowContent--footer-social-networks, .flexRowContent--footer-payments-methods, .flexRowContent--logos-power-by {
    justify-content:center;
    align-items:center;
}
.flexRow--power-by-wrapper{
    width:100%;
}